<!DOCTYPE html>
<html lang="en">
<head>
  <title>SQC Final Project</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet" type="text/css" href="/style.css">

    <!-- Include Jasmine files -->
    <link rel="stylesheet" type="text/css" href="lib/jasmine-3.6.0/jasmine.css">
    <script src="lib/jasmine-3.6.0/jasmine.js"></script>
    <script src="lib/jasmine-3.6.0/jasmine-html.js"></script>
    <script src="lib/jasmine-3.6.0/boot.js"></script>

      <!-- Include your test files -->
</head>