.searchContent {
  font-family: 'MS Comic Sanse';
}

#artistOutput {
  font-family: 'MS Comic Sanse';
  font-size: larger;
  letter-spacing: .15em;
  line-height: 1.75em;
}

#searchButton {
  padding: 1em;
  font-size: large;
  background-color: darkcyan;
  color: ghostwhite;
}

#searchBar {
  font-size: large;
  padding: .1em;
}

#recent-artists {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10em 25em 0 0;
}

#getPastArtists {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15em 40em 0 0;
  padding: 1.5em;
  background-color: antiquewhite;
}