<%- include('partials/header.ejs') %>

<div>
  <p id="welcomeTag" class="center">Welcome to my final project! This is me attempting to make something somewhat functional.</p>

  <input class="center" id="searchBar" type="text" placeholder="Search..">
</div>